.clock {
    display: inline-block;
    width: 100%;
    color: #fff;
}

.clock > .time {
    float: left;
    width: 25%;
    margin: 15px 0;
    text-align: center;

}

.clock > .time > .value {
    display: inline-block;
    width: 100%;
    font-size: 39px;
    font-weight: bold;
    font-family: cursive;
}

.clock > .time > .title {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .clock > .time {
        width: 50%;
    }
}