.clock {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    color: #fff;
    gap: 20px 0;
}

.clock > .time {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.clock > .time > .value {
    font-size: 39px;
    font-weight: bold;
    font-family: cursive;
}

.clock > .time > .title {
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .clock > .time {
        min-width: 50%;
    }
}