/* base */
@import "../base/reset.css";
@import "../base/variables.css";
@import "../base/layout.css";

/* 3rd-party */

@import "../components/font-awesome.min.css";

/* components */
@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

/* CUSTOM STYLES BELOW THIS COMMENT; FOR THIS PAGE */

/* HERO:start */
.hero {
  padding-bottom: 30px;
  background-image: url(../../img/coomingsoon.jpg);
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero > .row-short {
  align-items: center;
  text-align: center;
}

.hero .logo {
  height: 40px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.hero .main-title {
  font-size: 37px;
  text-transform: uppercase;
}

.hero .main-description {
  font-size: 17px;
  color: gray;
}

.hero .clock {
}

.hero .form {
  width: 90%;
}

.hero .form > .input {
  color: #fff;
  border-color: currentColor;
}

.hero .form > .input::placeholder {
  color: #fff;
  border-color: currentColor;
}

/* HERO:end */

/* MAIN CONTENT:start */

.column > * {
}

.column > *:last-child {
}

.content-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1em;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.content-description {
  font-size: 15px;
  color: #999;
}

.content-description > .link {
  color: var(--secondary-color);
  text-decoration: none;
}

main .form {
  align-items: flex-end;
}

@media (min-width: 900px) {
  main .form > input.input {
  }

  main .form > input.input:last-of-type {
  }
}

/* MAIN CONTENT:end */

/* FOOTER:start */

footer.container {
  padding-top: 0;
  font-size: 17px;
  text-align: center;
  color: #fff8;
}

.container > .socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 2px solid whitesmoke;
  position: relative;
}
.socials > .social {
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 50%;
  transition: all 1s;
}
.socials > .social:hover {
  background-color: #fff;
  color: var(--primary-color);
}

footer.container > .row-short {
  gap: 0;
}

footer .logo {
  height: 40px;
  width: 100%;
  margin-bottom: 40px;
  object-fit: contain;
  object-position: top;
}

footer .trio {
  display: flex;
  justify-content: center;
}

footer .trio > p {
  padding: 0 10px;
  position: relative;
}

footer .trio > p::before {
  content: '';
  width: 1px;
  height: 70%;
  display: inline-block;
  background-color: #fff8;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

footer .trio > p:first-child::before {
  display: none;
}

.dollar::before {
  content: "$";
}

.dollar::after {
  content: "😜";
}

footer .link {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 700px) {
  footer .trio {
    flex-direction: column;
  }
  footer .trio > p::before {
    display: none;
  }
}

/* FOOTER:end */

.back-to-top {
  /* position: fixed;
  bottom: 40px;
  right: 40px; */
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 700px) {
  .back-to-top {
    display: none;
  }
}
